<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#172F4F">
    <title>CS GPT</title>
     <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<div class="text-center">
    <p class="h1">CSGPT</p>
</div>

    <form action="/" method="post">
        {% csrf_token %}

        <div class="d-flex justify-content-center">
            <textarea datatype="text" name="prompt" placeholder="Ask me any Questions"></textarea>
        </div>

        <br>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary btn-lg">ASK</button>
        </div>>

    </form>

    {% if prompt %}
    <span id="scrollTo"></span>>
        {% endif %}

    <h6>
        <b>{{ prompt|linebreaksbr }}</b>
    </h6>

    <p>
        {{ chatResponse|linebreaksbr }}
    </p>

</body>
</html>